body {
    position: relative;
    text-align: left;
}
.mainBox{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.mainTime{
    font-size: 30px;
}
.startWork{
    
}
.stop{
    
}
.startBreak{
    
}
.workTimer {
    
}
.breakTimer {
    
}
.breakPlus {
    
}
.breakMinus {
    
}
.workPlus {
    
}
.workMinus {
    
}
.workTime{
    
}
.breakTime{
    
}