html {
}
body {
    color: #eee;
    background: -webkit-radial-gradient(white, white, grey); /* Safari 5.1- 6.0 */
    background: -o-radial-gradient(white, white, grey); /* Opera 11.6-12.0 */
    background: -moz-radial-gradient(white, white, grey); /* Firefox 3.6-15 */
    background: radial-gradient(white, #f4f4ff, #6666dd); /* Standard syntax */
}
.mainBox{
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 60%;
    height: 400px;
    max-height: 60%;
    background: #46a;
    position: relative;
    margin: 10%;
    padding: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 5px 10px 6px #ccc;  
    -moz-box-shadow:    4px 5px 10px 6px #ccc;  
    box-shadow:         4px 5px 10px 6px #ccc; 
}
.mainTime{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    color: #eee;
}
.startWork{
    
}
.stop{
    
}
.startBreak{
    
}
.workTimer {
    justify-content: flex-start;
    max-width: 20%;
    
}
.breakTimer {
    justify-content: flex-end;
    max-width: 20%;
}
.breakPlus {
    margin-right: 25px;
}
.breakMinus {
}
.workPlus {

}
.workMinus {
    margin-left: 25px;
}
.workTime{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #eee;
}
.breakTime{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #eee;
}
.titleTimer{
    font-size: 16px;
    font-weight: 800;
    color: #eee;
    text-align: center;
}

.canvas {
    position: relative;
    left: 28px;
}
